{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=10">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    
    {% block script %}
    {% endblock %}
    <title>Daily Log</title>
</head>
<body>
    <div class="container">
        <div class="row main">
                <div class="col-md-3 nav-col box">
                    <div class="header">
                        <h1 class="logo"><i class="fa-solid me-3 fa-spinner"></i>DailyLog</h1>
                    </div>
                    <hr>    
                    <ul class="nav flex-column">
                        {% if user.is_authenticated %}
                        <li class="nav-item text-center">
                            <a class="nav-link btn prim" href="{% url 'index' %}">Today's Log</a>
                        </li>
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'new' %}">New Log</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'all_logs' %}">All Logs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'htu' %}">How To Use</a>
                        </li>
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout({{user.username}})</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" href="#">How To Use</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col main-col box mt-5 mt-md-0">
                    {% block body %}
                    {% endblock %}
                </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>    
</body>
</html>